<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {{#if title}}
            {{title}} - NoTimeTube
        {{else}}
            NoTimeTube
        {{/if}}
    </title>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.4/css/uikit.min.css" />
</head>
<body>
    <div uk-grid>
        <div class="uk-width-1-2">
            <form action="/register" method="post">
                <fieldset class="uk-fieldset">

                    <legend class="uk-legend">Registrar</legend>

                    <div class="uk-margin">
                        <label class="uk-form-label" for="name">Nome</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" id="name" type="text" placeholder="Nome Completo">
                        </div>
                    </div>

                    <div class="uk-margin">
                        <label class="uk-form-label" for="email">Email</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" id="email" type="email" placeholder="email@email.com">
                        </div>
                    </div>

                    <div class="uk-margin">
                        <label class="uk-form-label" for="password">Senha</label>
                        <div class="uk-form-controls">
                            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                            <input class="uk-input" id="password" type="password" placeholder="Senha">
                        </div>
                    </div>

                    <div class="uk-margin">
                        <div class="uk-form-label">Sexo</div>
                        <div class="uk-form-controls">
                            <label><input class="uk-radio" type="radio" name="radio1"> Feminino</label><br>
                            <label><input class="uk-radio" type="radio" name="radio1"> Masculino</label>
                        </div>
                    </div>
                    <button class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom" type="submit">Entrar</button>
                </fieldset>
            </form>
        </div>
    </div>

    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.4/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.4/js/uikit-icons.min.js"></script>
</body>
</html>