{{#> layout/base title="Index" }}

  {{!-- Let's add a second stylesheet for this layout. --}}
  {{!-- {{#*inline "head-block"}}
    <link rel="stylesheet" href="some-other-styles.css">
  {{/inline}} --}}

  {{!-- Let's change the hero image for this layout. --}}
  {{#*inline "container-block"}}
    <div class="uk-section uk-light">
        <div class="uk-container">

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>

            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>

        </div>
    </div>
  {{/inline}}

  {{!-- Let's override the "footer-block" content. --}}
  {{!-- {{#*inline "footer-block"}}
    <p>We are now overriding the default "footer-block" content with this content.</p>
  {{/inline}} --}}

  {{!-- Let's add a script for this layout. --}}
  {{!-- {{#*inline "scripts-block"}}
    <script src="new-script.js"></script>
  {{/inline}} --}}

{{/layout/base}}