{{#> layout/base title="Login" }}
  {{#*inline "container-block"}}
    <div class="uk-width-auto">
        <video loop muted playsinline uk-video="autoplay: inview">
            <source src="https://quirksmode.org/html5/videos/big_buck_bunny.mp4" type="video/mp4">
            <source src="https://quirksmode.org/html5/videos/big_buck_bunny.ogv" type="video/ogg">
        </video>
    </div>
  {{/inline}}
{{/layout/base}}