{{#> layout/base title="Upload" }}
  {{#*inline "container-block"}}
    <form action="/videos/upload" method="post" enctype="multipart/form-data">
        <div class="uk-form-file" uk-form-custom>
            <input class="uk-form-file" type="file" name="file" accept="video/*">
            <label for="filel">Escolha seu vídeo</label>
        </div>
        <button type="submit" class="uk-button uk-button-default">Enviar</button>
    </form>
  {{/inline}}
{{/layout/base}}