{{#> layout/base title="Upload" }}
  {{#*inline "container-block"}}
    <form action="\upload" method="post">
        <div class="js-upload" uk-form-custom>
            <input type="file" accept="video/*">
            <button class="uk-button uk-button-default" type="button" tabindex="-1">Select</button>
        </div>
        <button type="submit" class="uk-button uk-button-default">Enviar</button>
    </form>
  {{/inline}}
{{/layout/base}}